:root {
  /* ===== Tipografía ===== */
  --font-title: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
  --font-main: "Fredericka the Great", cursive;

  /* ===== Colores ===== */
  --color-primary: #ee2b6c;
  --color-bg: #f8f6f6;
  --color-section: #f6c9db;
  --color-surface: #ffffff;
  --color-dark: #221016;

  --color-text: #1f2937;
  --color-text-muted: #3f4752;

  /* ===== Bordes ===== */
  --radius-xl: 28px;
  --radius-lg: 20px;
  --radius-md: 14px;

  /* ===== Sombras ===== */
  --shadow-soft: 0 10px 30px rgba(238, 43, 108, 0.08);
  --shadow-strong: 0 25px 60px rgba(0, 0, 0, 0.15);

  --container-width: 1200px;
}
