:root {
  --font-title: "Playfair Display", serif;
  --font-body: "Inter", system-ui, sans-serif;
  --font-hero: "Fredericka the Great", serif;
  /* Colores base */
  --color-bg-main: #faf9f7;
  --color-text-main: #2e2e2e;
  --color-muted: #7a7a7a;

  /* Color acción (botones / WhatsApp) */
  --color-action: #1f3c4a; /* azul petróleo */

  /* Acentos */
  --color-border-soft: #e6e4e1;
  --color-highlight: #ce9835;

  /* Tipografías */
  --font-title: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;

  /* Layout */
  --container-width: 1200px;
  --radius-lg: 16px;
  --radius-md: 10px;

  /* Sombras */
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.08);

  /* Transiciones */
  --transition-base: all 0.3s ease;
}
